.header_button {
    margin-right: 10px;
}

.header_button a {
    text-decoration: none;
    color: white;
}

.header_button a:active {
    text-decoration: none;
}

.header_button a:visited {
    text-decoration: none;
}

.header_button a:hover {
    text-decoration: none;
    cursor: pointer;
}